.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.lastname{
  color: rebeccapurple;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bg{
  background-image: url(./components/images/Firefly\ 20240326143858.png);
  background-repeat:no-repeat;
  background-size:cover;
  display: flex;
  justify-content:center;
  align-items:center;
  height:600px;

}
.ba{
  background-image: url(./components/images/Screenshot\ \(25\).png);
  background-repeat:no-repeat;
  background-size:cover;
  display: flex;
  justify-content:center;
  align-items:center;
  height:600px;
  width: 100%;
} 
.bc{
  background-image: url(./components/images/Screenshot\ \(28\).png);
  background-repeat:no-repeat;
  background-size:cover;
  display: flex;
  justify-content:center;
  align-items:center;
 
  width: 100%;
} 


.bt{
  margin-top: 5%;
}
.footer{
  background-color: rgb(221, 229, 236);

  
}
.middle3{
  background-color: rgb(221, 229, 236);

  
}


